<div th:fragment="editCashFlowModal">
  <form th:action="@{/cashflows/edit}" method="post" th:object="${cashFlowForm}">
    <div class="modal fade" id="editCashFlowModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ubah Transaksi Cash Flow</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body">
            <input id="editFlowId" type="hidden" th:field="*{id}" />

            <div class="mb-3">
              <label for="editFlowType" class="form-label">Tipe Transaksi</label>
              <select
                id="editFlowType"
                class="form-select"
                th:field="*{type}"
              >
                <option value="INCOME">Pemasukan</option>
                <option value="EXPENSE">Pengeluaran</option>
              </select>
              <small
                class="text-danger"
                th:if="${#fields.hasErrors('type')}"
                th:errors="*{type}"
              ></small>
            </div>
            
            <div class="mb-3">
              <label for="editFlowAmount" class="form-label">Jumlah (Rp)</label>
              <input
                id="editFlowAmount"
                type="number"
                step="1"
                class="form-control"
                th:field="*{amount}"
              />
              <small
                class="text-danger"
                th:if="${#fields.hasErrors('amount')}"
                th:errors="*{amount}"
              ></small>
            </div>

            <div class="mb-3">
              <label for="editFlowLabel" class="form-label">Label/Kategori</label>
              <input
                id="editFlowLabel"
                type="text"
                class="form-control"
                th:field="*{label}"
              />
              <small
                class="text-danger"
                th:if="${#fields.hasErrors('label')}"
                th:errors="*{label}"
              ></small>
            </div>

            <div class="mb-3">
              <label for="editFlowDescription" class="form-label"
                >Deskripsi</label
              >
              <textarea
                class="form-control"
                rows="3"
                th:field="*{description}"
                id="editFlowDescription"
              ></textarea>
              <small
                class="text-danger"
                th:if="${#fields.hasErrors('description')}"
                th:errors="*{description}"
              ></small>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Batal
            </button>
            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>